# Virtual environment
.venv

# VS Code settings
.vscode

# uv lock file
uv.lock

#data file for me(joe) to test the JSON stuff
speeches

#pycache is giving me wierd errors with git
__pycache__/.

# training/testing data folder
data/.


.pytest_cache/.
